.container {
  margin-top: 1rem;
  width: 400px;
  font-size: 1.2rem;
}

.delete {
  padding: 0.1rem 0.7rem;
  height: 2.4rem;
  border: none;
  color: white;
  background-color: #f791af;
  border-radius: 10px;
}

.error {
  color: red;
}
.check {
  background-color: #f791af;
  color: #f791af;
  margin: 10px;
}

li {
  display: flex;
  align-items: center;
  border-bottom: 2px solid white;
  margin-bottom: 1rem;
  width: 90%;
  padding-bottom: 10px;
  :nth-child(1){
    margin-right: auto;
  }
}
